.cards{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /*允许换行*/
    flex-wrap: wrap;
    padding: 20px;

}

.card{
    position: relative;
    width: 150px;
    height: 200px;
    background-color: #fff;

    /*上下是30px 左右是15px*/
    margin: 20px 8px;
    border-radius: 5px;
    box-shadow: 0 5px 200px rgb(0, 0, 0,0.5);

    /*动画过渡 提高体验感*/
    transition: 0.3s ease-in-out;
}

.card:hover{
    height: 260px;
}

.img-box{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
    top: -50px;
    left: 15px;
    box-shadow: 0 5px 200px rgb(0, 0, 0,0.2);
}

.img-box img{
    width: 100%;
}

.text-box{
    position: relative;
    margin-top: -60px;
    padding: 5px 10px;
    text-align: center;
    color: black;
    /*设置元素不可见*/
    visibility: hidden;
    /*不透明度*/
    opacity: 0;
    /*动画过渡*/
    transition: 0.3s ease-in-out;

}

.text-box p{
    text-align: center;
}

.card:hover .text-box{
    visibility: visible;
    opacity: 1;
    transition-delay: 0.1s;
}